<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../layout/header') %>
</head>

<body>
    <%- include('../../layout/head') %>

        <main>
            <% myBooks.forEach(book=> { %>
                <section>
                    <img src="<%= book.img_url %> " alt="">
                    <h1>
                        Book Title: <%= book.title %>
                    </h1>
                    <h2>
                        book author: <%= book.authors %>
                    </h2>
                    <p>
                        Book description: <%= book.description %>
                    </p>
                    <p>
                        Book Code: <%= book.isbn %>
                    </p>
                    <form action="/book" method="post">
                        <input type="hidden" name="title" value="<%= book.title %>">
                        <input type="hidden" name="author" value="<%= book.authors %>">
                        <input type="hidden" name="description" value="<%= book.description %>">
                        <input type="hidden" name="isbn" value="book.isbn">
                        <input type="hidden" name="img_url" value="<%= book.img_url %>">
                    <button>save the book</button>
                    </form>
                </section>
                <% }); %>


        </main>
</body>

</html>